# IMPORTING AND READING THE CSV FILE

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('authors.csv')

In [3]:
data.shape

(19579, 3)

In [4]:
data.isnull().sum()

id        0
text      0
author    0
dtype: int64

In [5]:
data.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

##### TO DISPLAY MAXIMUM COLUMN WIDTH

In [6]:
pd.set_option('display.max_colwidth',True)

In [7]:
data.text

0        This process, however, afforded me no means of ascertaining the dimensions of my dungeon; as I might make its circuit, and return to the point whence I set out, without being aware of the fact; so perfectly uniform seemed the wall.
1        It never once occurred to me that the fumbling might be a mere mistake.
2        In his left hand was a gold snuff box, from which, as he capered down the hill, cutting all manner of fantastic steps, he took snuff incessantly with an air of the greatest possible self satisfaction.
3        How lovely is spring As we looked from Windsor Terrace on the sixteen fertile counties spread beneath, speckled by happy cottages and wealthier towns, all looked as in former years, heart cheering and fair.
4        Finding nothing else, not even gold, the Superintendent abandoned his attempts; but a perplexed look occasionally steals over his countenance as he sits thinking at his desk.
                                                                                              ...
19574    I could have fancied, while I looked at it, that some eminent landscape painter had built it with his brush.
19575    The lids clenched themselves together as if in a spasm.
19576    Mais il faut agir that is to say, a Frenchman never faints outright.
19577    For an item of news like this, it strikes us it was very coolly received."
19578    He laid a gnarled claw on my shoulder, and it seemed to me that its shaking was not altogether that of mirth.
Name: text, Length: 19579, dtype: object

In [8]:
data

,id,text,author
0,id26305,"This process, however, afforded me no means of ascertaining the dimensions of my dungeon; as I might make its circuit, and return to the point whence I set out, without being aware of the fact; so perfectly uniform seemed the wall.",EAP
1,id17569,It never once occurred to me that the fumbling might be a mere mistake.,HPL
2,id11008,"In his left hand was a gold snuff box, from which, as he capered down the hill, cutting all manner of fantastic steps, he took snuff incessantly with an air of the greatest possible self satisfaction.",EAP
3,id27763,"How lovely is spring As we looked from Windsor Terrace on the sixteen fertile counties spread beneath, speckled by happy cottages and wealthier towns, all looked as in former years, heart cheering and fair.",MWS
4,id12958,"Finding nothing else, not even gold, the Superintendent abandoned his attempts; but a perplexed look occasionally steals over his countenance as he sits thinking at his desk.",HPL
...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, that some eminent landscape painter had built it with his brush.",EAP
19575,id08973,The lids clenched themselves together as if in a spasm.,EAP
19576,id05267,"Mais il faut agir that is to say, a Frenchman never faints outright.",EAP
19577,id17513,"For an item of news like this, it strikes us it was very coolly received.""",EAP
19578,id00393,"He laid a gnarled claw on my shoulder, and it seemed to me that its shaking was not altogether that of mirth.",HPL

##### LABEL ENCODING

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
author_arr=le.fit_transform(data.author)

In [10]:
author_df=pd.DataFrame(author_arr,columns=['author_label'])

In [11]:
author_df
#EAP ------> 0
#HPL ------> 1
#MWS ------> 2

       author_label
0      0
1      1
2      0
3      2
4      1
...   ..
19574  0
19575  0
19576  0
19577  0
19578  1

[19579 rows x 1 columns]

In [12]:
data.shape

(19579, 3)

In [13]:
def length(text):
    return len(text)

In [14]:
data['length']=data['text'].apply(length)
data

,id,text,author,length
0,id26305,"This process, however, afforded me no means of ascertaining the dimensions of my dungeon; as I might make its circuit, and return to the point whence I set out, without being aware of the fact; so perfectly uniform seemed the wall.",EAP,231
1,id17569,It never once occurred to me that the fumbling might be a mere mistake.,HPL,71
2,id11008,"In his left hand was a gold snuff box, from which, as he capered down the hill, cutting all manner of fantastic steps, he took snuff incessantly with an air of the greatest possible self satisfaction.",EAP,200
3,id27763,"How lovely is spring As we looked from Windsor Terrace on the sixteen fertile counties spread beneath, speckled by happy cottages and wealthier towns, all looked as in former years, heart cheering and fair.",MWS,206
4,id12958,"Finding nothing else, not even gold, the Superintendent abandoned his attempts; but a perplexed look occasionally steals over his countenance as he sits thinking at his desk.",HPL,174
...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, that some eminent landscape painter had built it with his brush.",EAP,108
19575,id08973,The lids clenched themselves together as if in a spasm.,EAP,55
19576,id05267,"Mais il faut agir that is to say, a Frenchman never faints outright.",EAP,68
19577,id17513,"For an item of news like this, it strikes us it was very coolly received.""",EAP,74
19578,id00393,"He laid a gnarled claw on my shoulder, and it seemed to me that its shaking was not altogether that of mirth.",HPL,109

### CONCATINATING LABEL ENCODED DATA (author_df) AND ORIGINAL DATA

In [15]:
df1=pd.concat([data,author_df],axis=1)

In [16]:
df1

,id,text,author,length,author_label
0,id26305,"This process, however, afforded me no means of ascertaining the dimensions of my dungeon; as I might make its circuit, and return to the point whence I set out, without being aware of the fact; so perfectly uniform seemed the wall.",EAP,231,0
1,id17569,It never once occurred to me that the fumbling might be a mere mistake.,HPL,71,1
2,id11008,"In his left hand was a gold snuff box, from which, as he capered down the hill, cutting all manner of fantastic steps, he took snuff incessantly with an air of the greatest possible self satisfaction.",EAP,200,0
3,id27763,"How lovely is spring As we looked from Windsor Terrace on the sixteen fertile counties spread beneath, speckled by happy cottages and wealthier towns, all looked as in former years, heart cheering and fair.",MWS,206,2
4,id12958,"Finding nothing else, not even gold, the Superintendent abandoned his attempts; but a perplexed look occasionally steals over his countenance as he sits thinking at his desk.",HPL,174,1
...,...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, that some eminent landscape painter had built it with his brush.",EAP,108,0
19575,id08973,The lids clenched themselves together as if in a spasm.,EAP,55,0
19576,id05267,"Mais il faut agir that is to say, a Frenchman never faints outright.",EAP,68,0
19577,id17513,"For an item of news like this, it strikes us it was very coolly received.""",EAP,74,0
19578,id00393,"He laid a gnarled claw on my shoulder, and it seemed to me that its shaking was not altogether that of mirth.",HPL,109,1

##### COPYING THE DATAFRAME AND DROPING THE (id)  COLUMN

In [17]:
df2=df1.copy()
df2.drop('id',axis=1,inplace=True)

##### CREATING A ONE MORE COPY

In [18]:
df3=df2.copy()

In [19]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import string
import nltk
from nltk.corpus import stopwords

In [20]:
list_of_stopwords=stopwords.words('english')

In [21]:
s1=string.punctuation
s1

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [22]:
list(string.punctuation)

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [23]:
list_of_punctuation=[]
for i in s1:
    list_of_punctuation.append(i)
list_of_punctuation

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [24]:
list_of_stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [25]:
data.iloc[0,1].split()

['This',
 'process,',
 'however,',
 'afforded',
 'me',
 'no',
 'means',
 'of',
 'ascertaining',
 'the',
 'dimensions',
 'of',
 'my',
 'dungeon;',
 'as',
 'I',
 'might',
 'make',
 'its',
 'circuit,',
 'and',
 'return',
 'to',
 'the',
 'point',
 'whence',
 'I',
 'set',
 'out,',
 'without',
 'being',
 'aware',
 'of',
 'the',
 'fact;',
 'so',
 'perfectly',
 'uniform',
 'seemed',
 'the',
 'wall.']

#### PUNCTUATION REMOVAL

In [26]:
import re

In [27]:
def punctuation_removal(text):
    new_text=re.sub('[^A-Za-z0-9]',' ',text)
    return new_text

In [28]:
df3['text']=df3['text'].apply(punctuation_removal)

#### STOPWORD REMOVAL

In [43]:
def remove_stopwords(text):
    l1=[]
    for i in text.split():
        
        if i not in list_of_stopwords:
            l1.append(i)
    return ' '.join(l1)

In [30]:
df3['text']=df3['text'].apply(remove_stopwords)

In [31]:
df3['new_length_after_removal']=df3['text'].apply(lambda x : len(x))

In [32]:
df3.head()

,text,author,length,author_label,new_length_after_removal
0,This process however afforded means ascertaining dimensions dungeon I might make circuit return point whence I set without aware fact perfectly uniform seemed wall,EAP,231,0,163
1,It never occurred fumbling might mere mistake,HPL,71,1,45
2,In left hand gold snuff box capered hill cutting manner fantastic steps took snuff incessantly air greatest possible self satisfaction,EAP,200,0,134
3,How lovely spring As looked Windsor Terrace sixteen fertile counties spread beneath speckled happy cottages wealthier towns looked former years heart cheering fair,MWS,206,2,163
4,Finding nothing else even gold Superintendent abandoned attempts perplexed look occasionally steals countenance sits thinking desk,HPL,174,1,130

#### STEMMING

In [33]:
from nltk.stem.snowball import SnowballStemmer

In [34]:
stemmer = SnowballStemmer("english")

def stemming(text):    
    '''a function which stems each word in the given text'''
    text = [stemmer.stem(word) for word in text.split()]
    return " ".join(text)

In [35]:
df3['text'] = df3['text'].apply(stemming)
df3.head(10)

,text,author,length,author_label,new_length_after_removal
0,this process howev afford mean ascertain dimens dungeon i might make circuit return point whenc i set without awar fact perfect uniform seem wall,EAP,231,0,163
1,it never occur fumbl might mere mistak,HPL,71,1,45
2,in left hand gold snuff box caper hill cut manner fantast step took snuff incess air greatest possibl self satisfact,EAP,200,0,134
3,how love spring as look windsor terrac sixteen fertil counti spread beneath speckl happi cottag wealthier town look former year heart cheer fair,MWS,206,2,163
4,find noth els even gold superintend abandon attempt perplex look occasion steal counten sit think desk,HPL,174,1,130
5,a youth pass solitud best year spent gentl feminin fosterag refin groundwork charact i cannot overcom intens distast usual brutal exercis board ship i never believ necessari i heard marin equal note kindli heart respect obedi paid crew i felt peculiar fortun abl secur servic,MWS,468,2,318
6,the astronom perhap point took refug suggest non luminos analog sudden let fall,EAP,128,0,92
7,the surcingl hung riband bodi,EAP,43,0,31
8,i knew could say stereotomi without brought think atomi thus theori epicurus sinc discuss subject long ago i mention singular yet littl notic vagu guess nobl greek met confirm late nebular cosmogoni i felt could avoid cast eye upward great nebula orion i certain expect would,EAP,488,0,305
9,i confess neither structur languag code govern polit various state possess attract,MWS,144,2,100

#### TRAIN TEST SPLIT

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df3['text'],df3['author_label'],test_size=0.2,random_state=1)

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
v= CountVectorizer()
x_train_count=v.fit_transform(x_train)
x_test_count=v.transform(x_test)

In [39]:
x_train1=x_train_count.toarray()
x_test1=x_test_count.toarray()

In [41]:
from sklearn.naive_bayes import MultinomialNB
NB=MultinomialNB()
model = NB.fit(x_train1,y_train)

In [42]:
model.score(x_test1,y_test)

0.8281409601634321